@import '../../sass/variables';
@import '../../sass/mixins';

.header {
    @include sizes(100%, 100px);
    background-color: $color-dark;
   
    .header__name-company {
       @include sizes(30%, 90%);   
    }
}
.firstSection {
    display: flex;
    flex-direction: column;
    @include sizes(100%, 50%);
    background-color: $color-light;
    .firstSection__img{
        @include sizes(70%, 60%);
        @include toCenter;
    }
    .firstSection__h1 {
        @include fontFamilySizes(fontRegular, 8vw);
        color: $color-dark;
        padding: 10px;
        text-align: center;
    }
    .firstSection__p {
        @include fontFamilySizes(fontMedium, 5vw);
        @include toCenter;
        color: $color-dark;
        width: 80%;
    }
}
.secondSection {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: $color-light;    
    .secondSection__img{
        @include sizes(80%, 80%);  
        margin: 0 auto;
    }
    .secondSection__h2 {
        @include fontFamilySizes(fontBold, 7vw);
        color: $color-dark;
        padding: 30px 30px;
        margin: 10px;
        text-align: center;
    }
    .secondSection__p {
        @include fontFamilySizes(fontRegular, 5vw);
        @include toCenter;
        color: $color-dark;
        width: 80%; 
    }
    hr {
        @include sizes(50%, 5px);
        background-color: $color-dark;
        border-radius: 5% / 40%;
    }
}

