@import '../../sass/variables';
@import '../../sass/mixins';

.footer {
    background-color: $color-light;

    .footer__information {
        padding: 30px 14px 30px 14px;

        .footer__information--options {
            @include fontFamilySizes (fontMedium, 3vw);
            list-style-type: none;
            margin: 10px;
        }
    }

    .footer__media {
        padding-left: 14px;

        .footer__media--networks > img {
            @include sizes (5%, 5%); 
            text-align: left;
            margin: 0 50px 10px 0;
        }
    }

    .footer__address {
        @include fontFamilySizes (fontMedium, 2.5vw);
        padding: 0 0 20px 20px;
    }
}