<footer class="footer">
    <ul class="footer__information">
        <li class="footer__information--options">Centro de ayuda</li>
        <li class="footer__information--options">Eliminar suscripción</li>
        <li class="footer__information--options">Términos</li>
        <li class="footer__information--options">Privacidad</li>
        <li class="footer__information--options">Preferencias de correo electrónico</li>
    </ul>
    <div class="footer__media">
        <a class="footer__media--networks" href="https://www.facebook.com/uber?uclick_id=a6f989df-8d3c-4230-a401-b67e50c07a19" alt="facebook">
            <img src="../../assets/img/facebook.png" alt="facebbok">
        </a>
        <a class="footer__media--networks" href="https://twitter.com/uber?uclick_id=a6f989df-8d3c-4230-a401-b67e50c07a19" alt="twitter">
            <img src="../../assets/img/twitter.png" alt="">
        </a>
        <a class="footer__media--networks" href="https://www.instagram.com/uber/?uclick_id=a6f989df-8d3c-4230-a401-b67e50c07a19" alt="instagram">
            <img src="../../assets/img/instagram.png" alt="instagram">
        </a>
    </div>
    <div class="footer__address">
        Rasier Operations B.V. <br><br>
        Mr. Treublaan 7 <br><br>
        1097 DP Amsterdam <br><br>
        <a href="https://www.uber.com/co/en/" target="_blank" >uber.com</a>
    </div>
</footer>
