<footer>
    <div>
        <ul>
            <li>Centro de ayuda</li>
            <li>Eliminar suscripción</li>
            <li>Términos</li>
            <li>Privacidad</li>
            <li>Preferencias de correo electrónico</li>
        </ul>
        <div>
            <a href="">f</a>
            <a href="">I</a>
            <a href="">t</a>
        </div>
        <div>
            <span></span>
            <a href="">Rasier Operations B.V.</a>
            <a href="">Mr. Treublaan 7 1097 DP Amsterdam</a>
            <a href="">uber.com</a>
        </div>
    </div>
</footer>
