<div>
    <figure>
        <img src="" alt="takeACar">
    </figure>
    <p>Hiciste 30 viajes con la app de Uber.
        Tú marcaste el camino pero te ayudamos a conseguir a alguien detrás del
        volante.
    </p>
</div>


    <!-- <div>
        <p>Has viajado más de 178 kilómetros.
            Una gran forma de llegar a tus diferentes destinos.
        </p>
        <figure>
            <img src="" alt="map">
        </figure>
    </div>
    <div>
        <figure>
            <img src="" alt="clock">
        </figure>
        <p>Pasaste 472 minutos en el camino.
            ¿Disfrutaste del paisaje?
        </p>
    </div>
    <div>
        <p>2021 fue el año del Logan.
            De hecho, fue el vehículo que
            más veces usaste.
        </p>
        <figure>
            <img src="" alt="loganCar">
        </figure>
    </div>
    <div>
        <figure>
            <img src="" alt="keys">
        </figure>
        <p>Edwar Milton fue tu socio conductor personal
            ¡Es broma! Edwar Milton fue el nombre más común.
        </p>
    </div>
    <div>
        <p>Viajaste más en Domingo 
            Quiere decir que hubo más diversión (o más trabajo).
        </p>
        <figure>
            <img src="" alt="calendar">
        </figure>
    </div>           
</section> -->
