<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>landing Page</title>
    <!-- <link href="./styles/style.css" rel="stylesheet" type="text/css"> -->
</head>
<body class="body">
    <header-component></header-component>
    <card-left></card-left>
    <card-right></card-right>
    <section>
        <h1 class="h1sile">Estamos ansiosos por saber qué sigue.</h1>
        <!-- <h1>Estamos ansiosos por saber qué sigue.</h1> -->
        <p>Quizás visitarás nuevos lugares o probarás nuevos tipos
            de comida: sea lo que sea, aquí estamos para hacerlo
            más fácil para ti.
        </p>
        <button>Empecemos ></button>
    </section>
    <section>
        <p>Únicamente para Colombia y Honduras: Para efectos de
            claridad, en caso de que en la presente comunicación se
            muestre la palabra "viaje" y/o "conducir", éstas
            significarán "arrendamiento" y/o "realizar un
            arrendamiento". Asimismo, en caso de presentarse la
            palabra "socio conductor", “socio” y/o "conductor", éstas
            significarán "arrendador".
        </p>
    </section>
    <footer-component></footer-component>
</body>
</html>