@import '../../sass/variables';
@import '../../sass/mixins';

.cardRight {
    display: flex;
    flex-direction: row;
    @include sizes (90%, auto);
    border-radius: 10px;
    margin: 10px auto;
    background-color: $color-contrast-secondary;
    padding: 10px;

    .cardRight__p {
        font-family:$font-family-brand2;
        color: $color-light;
        font-size: 6vw;
        @include toCenter;
        padding: 30px 10px;
    }

    .cardRight__img {
        @include sizes (40%, 40%);
        @include toCenter;
        margin: auto 10px;
        padding-left: 15px;
    }
}

