@import '../../sass/variables';
@import '../../sass/mixins';

.cards__right {
    display: flex;
    flex-direction: row;
    @include sizes (90%, auto);
    border-radius: 10px;
    margin: 10px auto;
    background-color: $color-contrast-secondary;
    padding: 10px;

    .cards__right--p {
        @include fontFamilySizes(fontLight, 5vw);
        @include toCenter;
        color: $color-light;
        padding: 30px 10px;
    }

    .cards__right--img {
        @include sizes (40%, 40%);
        @include toCenter;
        margin: auto 10px;
        padding-left: 15px;
    }
}

@media (min-width: 992px) {
    .cards__right {
        flex-direction: column-reverse;
        @include sizes (50%, 237px);
        background-color: $color-contrast-secondary-desktop;
        .cards__right--img {
            @include sizes (40%, 40%);
            margin: 0 auto;
        }
        .cards__right--p {
            @include fontFamilySizes(fontMedium, 1.8vw);
            color: $color-dark;     
        }
    }
}

