<header class="header">
    <img class="header__name-company" src='../../assets/img/uber.png' alt="Uber">
</header>
<section class="firstSection">
    <img class="firstSection__img" src='../../assets/img/uberMode.png' alt="UberMode">
    <h1 class="firstSection__h1">Modo celebrando-nuestras-aventuras-del-{{year}}.</h1>
    <p class="firstSection__p">Gracias por elegir a {{nameCompany}} para hacer que este año se
        sintiera un poco más cercano a lo normal. Mira debajo
        algunos de nuestros momentos especiales.
    </p>
</section>
<section class="secondSection">
    <img class="secondSection__img--vertical" src= {{imgYear}} alt="2021">
    <img class="secondSection__img--horizontal" src= {{imgYearHorizontal}} alt="2021">
    <img class="secondSection__img--arrow" src= {{imgArrow}} alt="arrow">
    <h2 class="secondSection__h2">Este {{year}} tuvimos muchos momentos para
        disfrutar.</h2>
    <p class="secondSection__p">Toma una captura de pantalla y usa #Modo{{nameCompany}}{{year}} para compartir tus
        mejores momentos.</p>
    <hr>
</section>