@import '../../sass/variables';
@import '../../sass/mixins';

.cards__left {
    display: flex;
    flex-direction: row;
    @include sizes (90%, 100%);
    border-radius: 10px;
    margin: 0 auto;
    background-color: $color-contrast-primary;
    padding: 10px;

    .cards__left--img {
        @include sizes (40%, 40%);
        @include toCenter;
        margin: auto 10px;
        padding-left: 15px;
    }

    .cards__left--p {
        @include fontFamilySizes(fontLight, 5vw);
        @include toCenter;
        color: $color-light;     
        padding: 30px 10px;
    }
}

@media (min-width: 992px) {
    .cards__left {
        flex-direction: column;
        @include sizes (50%, 237px);
        background-color: $color-contrast-primary-desktop;
        .cards__left--img {
            @include sizes (40%, 40%);
            margin: 0 auto;
        }
        .cards__left--p {
            @include fontFamilySizes(fontMedium, 1.8vw);
            color: $color-dark;     
        }
    }
}

